@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #10141e;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-red: #fc4747;
  --color-dark-blue: #10141e;
  --color-greyish-blue: #5a698f;
  --color-semi-darkblue: #161d2f;
  --color-white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #10141e;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
